<img src="https://www.sturgischarterschool.com/wp-content/uploads/2019/06/sturgisheader_logo.png" alt="sturgis" width="250" align="right"/>

## Computer Science 'Database' notebook 8
### Sturgis Charter Public School

Student: [your name here]

Collaborators: [N/A]

Notes to the teacher: [N/A]

### Learning Objectives for notebook 
* Download Docker.
* Use docker to pull a mysql image.
* Access your image through your notebook.

## Narrative

The goal of this cycle's notebook is to get your computer up and running with a `mysql` server. We are going to accomplish this with a few different tools, which means we're going to have to go outside of the jupyter notebook and configure some things in the terminal in order to accomplish this. The good news is that you aren't going to have to do much coding--just build a simple database. The bad news is computers are individual, and sometimes something that's easy on your neighbor's computer is an absolute beast to accomplish on your computer. We press on!

#### Docker

The first thing we need to do is to install `docker` on your system. `docker` is an industrial level tool that allows for virtualization on your system. Think of it as accepting and running little black boxes. [docker](https://www.docker.com/) will allow us to access all kinds of really awesome and powerful tools. Interestingly you can use docker to even access jupyter notebooks! Here's where to start when [installing docker](https://docs.docker.com/get-docker/). 

#### Pulling a mysql image

Next we're going to need to [pull a mysql image](https://hub.docker.com/_/mysql). Once you pull it you're going to need to run it, and you're going to need to expose a port, in order that your jupyter notebook can access it. The short version: `docker pull sql`. Then run the following command `docker run --name student -e MYSQL_ROOT_PASSWORD=root -p 32000:3306 -d mysql`. 

#### Downloading necessary dependencies

Finally you're going to need to install `pandas` and `pymysql` in order to have your jupyter notebook access your freshly minted mysql server. Consider [this reference](https://www.folkstalk.com/2022/09/how-to-connect-mysql-database-in-jupyter-notebook-with-code-examples.html) for how to access this. At the bare minimum you're going to need to run the following commands in your terminal. `pip install pandas` and `pip install pymysql`. Be aware that you might need to do `pip3` or some permutation thereof. An easy way to check is to do the command `pip --version` and see what your computer recognizes.

### Question 1: Opening and building your first database
There are no assert checks. Instead do the following three things:
* connect to your mysql server
* Create a database and create at least three tables. Each table should have at least 3 values.
* Populate each of your tables with at least 5 items each.

In [1]:
import pandas as pd
import pymysql
import re

In [2]:
conn=pymysql.connect(host='localhost',port=int(32000),user='root',passwd='root')

In [3]:
cur = conn.cursor()

In [4]:
instructions = open("s_build_db.sql", "r")
instructions = instructions.read()
print(repr(instructions))
instructions = re.sub("\n", "", instructions)
instructions = re.split(";", instructions)
final = []
for i in instructions:
    if i: final.append(i)
print(final)

'DROP DATABASE IF EXISTS s_practice;\nCREATE DATABASE s_practice;\nUSE s_practice;\n\nCREATE TABLE phone (\n    id INT NOT NULL AUTO_INCREMENT,\n    name VARCHAR(30) NOT NULL,\n    brand VARCHAR(30),\n    PRIMARY KEY (id)\n);\n\nCREATE TABLE car (\n    id INT NOT NULL AUTO_INCREMENT,\n    name VARCHAR(30) NOT NULL,\n    brand VARCHAR(30),\n    PRIMARY KEY (id)\n);\n\nCREATE TABLE shoe (\n    id INT NOT NULL AUTO_INCREMENT,\n    name VARCHAR(30) NOT NULL,\n    brand VARCHAR(30),\n    PRIMARY KEY (id)\n);\n\n\n'
['DROP DATABASE IF EXISTS s_practice', 'CREATE DATABASE s_practice', 'USE s_practice', 'CREATE TABLE phone (    id INT NOT NULL AUTO_INCREMENT,    name VARCHAR(30) NOT NULL,    brand VARCHAR(30),    PRIMARY KEY (id))', 'CREATE TABLE car (    id INT NOT NULL AUTO_INCREMENT,    name VARCHAR(30) NOT NULL,    brand VARCHAR(30),    PRIMARY KEY (id))', 'CREATE TABLE shoe (    id INT NOT NULL AUTO_INCREMENT,    name VARCHAR(30) NOT NULL,    brand VARCHAR(30),    PRIMARY KEY (id))']

In [5]:
for instruction in final:
    cur.execute(instruction)
    conn.commit()

In [6]:
df=pd.read_sql_query('show tables',conn)

In [7]:
df

  Tables_in_s_practice
0                  car
1                phone
2                 shoe

In [27]:
stmt = "INSERT INTO phone (name, brand) VALUES (%s, %s)"
data = [('sony', 'test'), ('moto', 'flagship')]

In [28]:
cur.executemany(stmt, data)

2

In [29]:
df=pd.read_sql_query('SELECT * FROM phone',conn)

In [30]:
df

   id  name     brand
0   1  sony      test
1   2  moto  flagship

In [24]:
cur.execute("TRUNCATE TABLE phone")

0

### Question 2: Looking at the IA
Take a look at the [guide](CS_IA_Guide.pdf) for the IA. Note that it discusses a client and a solution. In the space below type up a 1-3 paragraph initial brainstorm on what you might be interested in doing, and whom you might be interested in working for (possibility, yourself). I expect your answers to be specific, but you are not locked into your answers. The more detail the better!

*Write your answer here*

### Question 3: The Case Study (HL Only)
Read up about the [May 2023 Case Study](comp_sci_case_study_may_2023.pdf). You may also access resources from other places. In your own words explain the following terms. Each answer should be 1-3 sentences in length:

* K-nearest neighbour (k-NN) algorithm
* Accuracy / Recall
* Overfitting
* Training data
* Collaborative filtering
* Content-based filtering

*Write your answers here*