<img src="https://www.sturgischarterschool.com/wp-content/uploads/2019/06/sturgisheader_logo.png" alt="sturgis" width="250" align="right"/>

## Computer Science 'Database' notebook 8
### Sturgis Charter Public School

Student: [your name here]

Collaborators: [N/A]

Notes to the teacher: [N/A]

### Learning Objectives for notebook 
* Download Docker.
* Use docker to pull a mysql image.
* Access your image through your notebook.

## Narrative

The goal of this cycle's notebook is to get your computer up and running with a `mysql` server. We are going to accomplish this with a few different tools, which means we're going to have to go outside of the jupyter notebook and configure some things in the terminal in order to accomplish this. The good news is that you aren't going to have to do much coding--just build a simple database. The bad news is computers are individual, and sometimes something that's easy on your neighbor's computer is an absolute beast to accomplish on your computer. We press on!

#### Docker

The first thing we need to do is to install `docker` on your system. `docker` is an industrial level tool that allows for virtualization on your system. Think of it as accepting and running little black boxes. [docker](https://www.docker.com/) will allow us to access all kinds of really awesome and powerful tools. Interestingly you can use docker to even access jupyter notebooks! Here's where to start when [installing docker](https://docs.docker.com/get-docker/). 

#### Pulling a mysql image

Next we're going to need to [pull a mysql image](https://hub.docker.com/_/mysql). Once you pull it you're going to need to run it, and you're going to need to expose a port, in order that your jupyter notebook can access it. 

#### Downloading necessary dependencies

Finally you're going to need to install `pandas` and `pymysql` in order to have your jupyter notebook access your freshly minted mysql server. Consider [this reference](https://www.folkstalk.com/2022/09/how-to-connect-mysql-database-in-jupyter-notebook-with-code-examples.html) for how to access this. At the bare minimum you're going to need to run the following commands in your terminal. `pip install pandas` and `pip install pymysql`. Be aware that you might need to do `pip3` or some permutation thereof. An easy way to check is to do the command `pip --version` and see what your computer recognizes.

In [1]:
import pandas as pd
import pymysql

In [3]:
conn=pymysql.connect(host='localhost',port=int(32000),user='root',passwd='root',db='ikatadomain')

In [5]:
df=pd.read_sql_query("SELECT * FROM inflecticon WHERE morpheme = 'ro' ",conn)

In [6]:
df

     id morpheme                                        inflections
0  5925       ro  adaro, akrobat, akroor, akuro, allegro, ambros...